* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #F1EBFF;
}
#heading {
    padding: 20px 0px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
#heading > a {
    text-decoration: none;
    color: #5E6577;
    font-size: 16px;
}
.buy {
    color: #40D;
    font-size: 16px;
}
.dun {
    display: flex;
    justify-content: center;
    align-items: center;
}
#levelone {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;
}
.tab {
    align-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: #F1EBFF;
    gap: 12px;
    padding: 8px 24px 8px 12px;
}
#search {
    display: flex;
    order: 1;
    background-color: #40D;
    border-radius: 16px;
    padding: 16px 24px;
}
#leveltwo {
    display: flex;
    align-items: center;
    align-content: space-between;
    align-self: center;
    max-width: 1040px;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 48px;
}
#leveltwo > p {
    text-align: right;
    font-size: 32px;
    color: #5E6577;
}
#levelthree {
    max-width: 1040px;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 65px;
    gap: 24px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCD3E0;
}
#levelfour {
    max-width: 1040px;
    width: 100%;
    margin-bottom: 64px;
    max-height: 266px;
    height: 100%;
    border-top: 2px solid #8CE900;
    border-left: 2px solid #000;
    border-right: 2px solid #155EEF;
    border-bottom: 2px solid #DD2590;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 16px;
}
#levelfour > h3 {
    color: #5E6577;
    font-size: 24px;
    max-width: 488;
    width: 100%;  
}
#levelfour {
    color: #969696;
    font-size: 14px;
    padding-bottom: 88px;
    display: flex;
    align-content: flex-start;
}
#levelfour > p {
    max-width: 488px;
    width: 100%;
}
#levelfive {
    max-width: 1040px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #40D;
    background: #EDE6FC;
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
    height: 272px;
}
#levelfive > h3 {
    color: #5E6577;
    font-size: 24px;
    max-width: 488px;
    width: 100%;
    display: flex;
    align-self: center;
}
#levelfive > p {
    color: #3B3B3B;
    font-size: 14px;
    max-width: 488px;
    width: 100%;
    display: flex;
    align-self: center;
}
#levelsix {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #004FE3;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    min-height: 272px;
    max-width: 1040px;
    width: 100%;
    margin-bottom: 193px;
}
#levelsix > h3 {
    color: #07081A;
    font-size: 24px;
    max-width: 488px;
    width: 100%;
}
#levelsix > p {
    font-size: 14px;
    color: #155EEF;
    max-width: 488px;
    width: 100%;
}
#footerid {
    border-top: 1px solid #F1EBFF;
    display: flex;
    gap: 24px;
    padding: 40px 200px 0px 928px;
    justify-content: flex-end;
    align-items: center;
}
